/* GLOBAL */

html, body {
    font-size: 20px;
}

body {
	padding: 2em 4em;
	font-family: 'Cormorant Garamond', serif;
}


/* TAGS */

/* Links */

a {
	color: #729fcf;
}

a:visited {
	color: inherit;
}

a.unformatted  {
	color: inherit;
	text-decoration: none;
}

/* Paragraphs */
p, .text {
	max-width: 100%;
	overflow: hidden;
	font-size: 0.95em;
	line-height: 1.5em;
	text-align: justify;
	text-overflow: ellipsis;
}


/* GENERIC PROPERTIES */

.unselectable {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.small {
	font-size: 0.8em;
}


/* CARDS */

.card {
	padding: 1em 2em;
	border: 2px solid #eee;
	background-color: #f9f9f9;
}


/* BUTTONS */

.button, a.button {
	cursor: pointer;
	color: #282828;
	font-size: 0.7em;
	padding: 0.4em 1em;
	display: inline-block;
	text-decoration: none;
	background-color: white;
	border: 2px solid #282828;
	font-family: 'Poppins', sans-serif;
	transition: 0.2s ease;
}

.button.selected, .button:active {
	color: white;
	background-color: #282828;
	transition: 0.1s ease-out;
}


/* GENERIC HEADERS */

.header {
	color: #282828;
}

.heading {
	font-size: 2em;
}

.subheading {
	font-style: italic;
	line-height: 1.7em;
}


/* PAGE HEADER */

#page_header {
	color: #282828;
    text-align: center;
	transition: 0.2s ease;
}

#page_dateheading {
	font-size: 1.5em;
}

#page_heading {
	font-size: 5em;
	line-height: 1em;
	margin: 0.1em 0 0.15em 0;
	font-family: 'Cormorant SC', serif;
}

#page_subheading {
	font-size: 1.5em;
	padding: 0.3em 0;
	border-top: 2px solid #282828;
	border-bottom: 2px solid #282828;
}


/* NAVBAR */

#navbar {
	overflow-x: auto;
	margin-top: 1.5em;
	text-align: center;
	white-space: nowrap;
	position: relative;
	transition: 0.2s ease;
}

#navbar::before {
	position: absolute;
	left: 0;
	top: 50%;
	right: 0;
	content: "";
	height: 2px;
	background: #282828;
	z-index: -1;
}

#navbar .button:not(:last-child){
	margin-right: 1em;
}


/* PAGES */

.page {
	padding: 4em 2em;
}


/* ARCHIVE */

#newsletters {
	gap: 2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.newsletter {
	color: #282828 !important;
}

.newsletter-cover {
	width: 100%;
	padding: 0.2em;
	max-width: 300px;
	box-sizing: border-box;
	background-color: white;
	border: 2px solid #282828;
	transition: 0.2s ease;
}

.newsletter-cover img {
	width: 100%;
	margin-bottom: -6px;
}

.newsletter-info {
	font-size: 0.9em;
	margin-top: 0.5em;
	text-align: center;
}


/* FOOTER */

#footer {
	display: flex;
	padding-top: 2em;
	align-items: center;
	flex-direction: column;
	border-top: 2px solid #282828;
}

#footer img {
	width: 10em;
}

#disclaimer {
	color: #999;
	font-size: 0.8em;
	margin-top: 0.5em;
	text-align: center;
}


/* INPUT DEVICE DEPENDENT EVENTS */

@media (pointer:fine) {
    .button:hover, .button.active {
		color: white;
		background-color: #282828;
	}
	.newsletter-cover:hover {
		transform: scale(1.05);
		box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
	}
}


/* BREAKPOINTS */

@media only screen and (max-width: 620px) {
	body {
		padding: 1.5em;
	}
	#page_header {
		font-size: 0.6em;
	}
	#navbar {
		font-size: 0.8em;
	}
	.page {
		padding: 2em 0;
	}
	#footer {
		padding-top: 1em;
	}
	#footer img {
		width: 7em;
	}
}
